/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,700&display=swap');

/* DEFAULT STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    flex-direction: column;
    font-size: 1.5rem;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    background-color: #c5e4e7;
}

.grid {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto;
}

.input-box.icon-dolar {
    background: url('../img/icon-dollar.svg') no-repeat;
}

.input-box.icon-user {
    background: url('../img/icon-person.svg') no-repeat;
}

.input-box.icon-user,
.input-box.icon-dolar {
    background-size: 12px;
    background-color: #f2f8fc;
    background-position: 1rem;
    font-family: 'Space Mono', monospace;
}

.input-box {
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    text-align: right;
    font-size: 1.6rem;
    color: #02474a;
    border-radius: 4px;
    border: 2px solid #f2f8fc;
    outline: none;
}

.input-box:hover {
    border: 2px solid #9ee8e0;
    transition: all 300ms ease-out;
}

.input-box::placeholder {
    color: #a1bab9;

    font-family: 'Space Mono', monospace;
}

.bill-div .bill,
.number-people-div .number-people,
.tip-div .select-tip {
    font-size: 0.9rem;
    color: #687a7c;
}

.symbol-dolar,
.symbol-person {
    position: absolute;
    left: 15px;
    top: 25px;
}

/* FOOTER */
.attribution {
    padding-bottom: 2rem;
    font-size: 1rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Main-div */
.main-div {
    margin-top: 150px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border-radius: 20px;
    padding: 50px;
}

/* col-1 */
.bill-div,
.number-people-div {
    position: relative;
}

.col-1 {
    max-width: 500px;
}

.zero-amount {
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 0.9rem;
    color: #b58070;
}

#errorTextBill,
#errorTextNumberOfPeople {
    display: none;
}

.bill {
    padding-bottom: 10px;
}

.tip-div {
    padding-bottom: 40px;
}

.tip-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.btn-tip-amount {
    background-color: #00474b;
    border-radius: 4px;
    text-align: center;
    height: 45px;
    font-size: 1.5rem;
    color: #f3fbff;
    width: 155px;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
    border: none;
}

.btn-tip-amount:hover {
    color: #00474b;
    background-color: #9ee8e0;
    transition: all 300ms ease-out;
}

.btn-tip-amount-active {
    background-color: #26c2ac;
    color: #00474b;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.select-tip {
    padding-top: 40px;
    padding-bottom: 15px;
}

.number-people {
    padding-bottom: 10px;
}

/* col-2 */
.amount-total {
    background: #02474a;
    border-radius: 20px;
    padding: 40px 30px;
    color: #fff;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.amount-text {
    font-size: 0.9rem;
}

.amount-person {
    font-size: 0.6rem;
    color: #609396;
}

.tip-amount-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tip-amount-div span {
    color: #2cc1af;
    font-size: 2.5rem;
}

.tip-amount-div:nth-child(2) {
    padding-top: 50px;
}

.btn {
    background-color: #f2f8fc;
    width: 100%;
    display: block;
    border-radius: 4px;
    text-align: center;
    color: #004048;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-send.btn {
    background-color: #27c2ad;
    margin-bottom: 15px;
}

.btn-send.btn:hover {
    background-color: #9ee8e0;
}

.btn-reset.btn:hover {
    background-color: #9ee8e0;
}

/* RESPONSIVE */
@media screen and (max-width: 1000px) {
    .btn-tip-amount {
        width: 140px;
    }
    .main-div {
        padding: 30px;
    }
    .grid {
        gap: 30px;
    }
    .amount-total {
        width: 350px;
    }
}

@media screen and (max-width: 950px) {
    .tip-grid {
        gap: 10px;
    }
    .btn-tip-amount {
        width: 120px;
        font-size: 1.3rem;
        height: 40px;
    }
    .amount-text {
        font-size: 0.75rem;
    }
    .tip-amount-div span {
        font-size: 2rem;
    }
    .amount-total {
        width: 300px;
    }
}

@media screen and (max-width: 850px) {
    .amount-total {
        height: 350px;
    }
    .input-box {
        padding: 0;
        padding-right: 5px;
    }
    .attribution {
        font-size: 0.85rem;
        padding-top: 20px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 800px) {
    .tip-grid {
        justify-content: center;
    }
    .grid {
        grid-template-columns: auto;
        justify-items: center;
    }
    .tip-amount-div:nth-child(2) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .btn-tip-amount {
        width: 155px;
        font-size: 1.2rem;
    }
    .amount-total {
        width: 450px;
    }
}

@media screen and (max-width: 575px) {
    .main-div {
        padding: 15px;
    }
    .tip-grid {
        gap: 7px;
    }
    .btn-tip-amount {
        width: 130px;
        height: 30px;
        font-size: 1.1rem;
    }
    .bill-div .bill,
    .number-people-div .number-people,
    .tip-div .select-tip {
        font-size: 0.75rem;
    }
    .input-box {
        font-size: 1.3rem;
    }
    .input-box::placeholder {
        font-size: 1.3rem;
    }
    .amount-text {
        font-size: 0.75rem;
    }
    .tip-amount-div span {
        font-size: 2rem;
    }
    .amount-total {
        width: 400px;
        justify-content: space-around;
    }
}

@media screen and (max-width: 500px) {
    .amount-total {
        width: 350px;
        justify-content: space-around;
    }
    .attribution {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 400px) {
    .tip-amount-div span {
        font-size: 1.7rem;
    }
    .btn {
        font-size: 1.2rem;
    }
    .amount-total {
        width: 250px;
        padding: 0 20px;
    }
    .attribution {
        font-size: 0.65rem;
    }
}

@media screen and (max-width: 328px) {
    .tip-grid {
        display: block;
        width: 100%;
        text-align: center;
    }
    .btn-tip-amount {
        width: 80%;
    }
}

@media screen and (max-width: 300px) {
    .amount-total {
        width: 200px;
    }
    .btn {
        font-size: 1rem;
    }
    .tip-amount-div span {
        font-size: 1.3rem;
    }
    .amount-text {
        font-size: 0.65rem;
    }
    .amount-person {
        font-size: 0.55rem;
    }
}
